[package]
name = "rivet"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
tokio = { version = "1.48.0", features = ["macros", "rt-multi-thread", "io-std", "io-util"] }
whoami = "1.6.1"
